#container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 700px;
    margin: 10px auto;
}

.row {
    display: flex;
    flex: 1 1 auto;
}

.cell {
    flex: 1 1 auto;
    border: 1px solid black;
}

body {
    text-align: center;
    background-color: rgb(42, 51, 61);
}

button {
    margin: 10px auto;
    padding: 20px 50px;
    background-color: rgb(20, 27, 36);
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    font-size: 15px;
}

h1 {
    color: white;
}